<h3>Inicio de sesión:</h3>
<mat-grid-list cols="3">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <form class="full-width">
      <mat-form-field class="full-width">
        <input matInput placeholder="Usuario">
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Contraseña">
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary">Iniciar sesión</button>
    </form>
  </mat-grid-tile>
</mat-grid-list>
