<mat-nav-list>
  <h2 mdSubheader>Listado de categorías y productos:</h2>
  <!--
  <a mat-list-item target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a>
  <a mat-list-item target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
  <a mat-list-item target="_blank" href="https://blog.angular.io/">Angular blog</a>
   -->
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Categoría 1:
      </mat-expansion-panel-header>
      <p>
        texto muteado que explica y resume acerca del contenido de esta categoría, sería más bien como una observación.
      </p>
      <mat-action-row>
        <button mat-button>
          Click me
        </button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Productos
      </mat-expansion-panel-header>
      <a mat-list-item href="#">a algún lado irá</a>
      <a mat-list-item href="#">producto cuatro</a>
      <a mat-list-item href="#">producto siete</a>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Productos
      </mat-expansion-panel-header>
      <a mat-list-item href="#">o a otro lado también</a>
    </mat-expansion-panel>
  </mat-accordion>
</mat-nav-list>