<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <zz-nav></zz-nav>
  </mat-sidenav>

  <mat-toolbar>
  <!-- <mat-toolbar color="primary"> -->
  <!-- <mat-toolbar color="accent"> -->
  <!-- <mat-toolbar color="warn"> -->
    <mat-toolbar-row>
      <button type="button" mat-button (click)="sidenav.open()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <span>Application Title: {{title}}</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span>{{description}}</span>
      <zz-header></zz-header>
      <span class="example-fill-remaining-space"></span>
      <span>Right Aligned Text</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <a mat-button href="/"><mat-icon>home</mat-icon></a>
  <a mat-button href="/material">Material examples</a>
  <router-outlet></router-outlet>
  <zz-footer></zz-footer>
</mat-sidenav-container>