<div class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre" name="name" id="name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Descripción" name="description" id="description"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
  	<input matInput placeholder="Stock" type="number" name="stock" id="stock">
  </mat-form-field>

  <mat-form-field class="example-full-width">
  	<input matInput placeholder="Precio" type="number" name="price" id="price">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="sendForm($event)">Guardar</button>
</div>