<form class="example-form" (ngSubmit)="onSubmit()" #heroForm="ngForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre" name="name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Descripción" name="description"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
  	<input matInput placeholder="Stock" type="number" name="stock">
  </mat-form-field>

  <mat-form-field class="example-full-width">
  	<input matInput placeholder="Precio" type="number" name="price">
  </mat-form-field>

  <button mat-raised-button type="submit" color="primary">Guardar</button>
</form>