<h3>Agregar Administrador:</h3>
<mat-grid-list cols="3">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <form class="full-width">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nombre">
      </mat-form-field>
      <br>
      <br>
      <mat-form-field class="full-width">
        <input matInput placeholder="Apellido">
      </mat-form-field>
      <br>
      <br>
      <mat-form-field class="full-width">
        <input matInput placeholder="Contraseña" type="password">
      </mat-form-field>
      <br>
      <br>
      <mat-form-field class="full-width">
        <input matInput placeholder="Repita la contraseña" type="password">
      </mat-form-field>
      <br>
      <br>
      <button mat-raised-button color="primary">Guardar</button>
    </form>
  </mat-grid-tile>
</mat-grid-list>
